/*CSS for the Header class */
.Header {
	text-align: center;
	font-size: 28px;
	font-family: Helvetica;
	padding: 0;
}

.Subtitle {
	text-align: center;
	font-family: Helvetica;
	font-size: 24px;
}

/*CSS for the 'Image' Class*/
.Image > a > img {
	float: right;
	height: 30%;
	width: 30%;
}

/*List class*/
.Lists {
	text-align: center;
	font-family: Helvetica;
	font-size: 18px;
}

/*Styling for navigation menus*/
.NavBar > ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
	background-color: #272828;
	/*---Fixing the nav bar in position---*/
	position: fixed;
	top: 0;
	width: 100%;
}

.NavBar > ul > li {
	float: left;
}

.NavBar > ul > li > a {
	display: block;
	color: white;
	font-family: Helvetica;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.NavBar > ul > li > a:hover {
	background-color: #0d7a0f;
}